<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/favicon.svg">
	<!-- for CSS -->
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
		integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
		crossorigin=""/>                                 
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
	integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
	{{!-- <link rel="stylesheet" href="/style.css"> --}}
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link id="pagestyle" href="css/material-dashboard.min.css?v=3.0.0" rel="stylesheet" />
	{{!-- jQuery for AJAX load --}}
	<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
	<link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
	<script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/leaflet-search@2.9.8/dist/leaflet-search.min.js"></script>
	
	<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.5.1/dist/MarkerCluster.css"
		integrity="sha512-mQ77VzAakzdpWdgfL/lM1ksNy89uFgibRQANsNneSTMD/bj0Y/8+94XMwYhnbzx8eki2hrbPpDm0vD0CiT2lcg=="
		crossorigin="" />
	
	<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.5.1/dist/MarkerCluster.Default.css"
		integrity="sha512-6ZCLMiYwTeli2rVh3XAPxy3YoR5fVxGdH/pz+KMCzRY2M65Emgkw00Yqmhh8qLGeYQ3LbVZGdmOX9KUjSKr0TA=="
		crossorigin="" />

	<title>E-Discount</title>
	<style>
		body::before {
			display: block;
			content: '';
			height: 60px;
		}
	
		#map {
			width: 100%;
			/* 100% of the parent container */
			height: 500px;
			margin: 25px;
			align-self:center;
			/* fixed height */
		}
	
		.icon {
			max-width: 70%;
			max-height: 70%;
			margin: 4px;
		}

		.container {
			width: 80%;
			display: center;
			justify-content: center;
			align-items: center;
			
		}
		

		

        .select-box{
        	border: 1px solid rgb(24, 8, 82);
        }


		@media(min-width:768px) {
			
			
			.news-input {
				width: 50%;
			}
		}
	</style>
</head>
<body>
<!-- navbar -->
<nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 fixed-top bg-gradient-dark  bg-white">
	<div class="container">
	 <a href="/welcome" class="navbar-brand text-white">Discount Finder</a>

	 <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
		<span class="navbar-toggler-icon"></span>
	 </button>

	 <div class="collapse navbar-collapse bg-gradient-dark " id="navmenu">
		<ul class="navbar-nav ms-auto"> 
<!-- alk to ms-auto to paei sthn akrh -->
		 <li class="nav-item ">
			<a href="/welcome" class="nav-link  text-white">Home</a>
		 </li>
		 <li class="nav-item">
			<a href="/profile" class="nav-link text-white">Profile</a>
		 </li>
		 <li class="nav-item">
			<a href="/logout" class="nav-link text-white">Logout</a>
		 </li>
		</ul>
	 </div>
	</div>
 </nav>

<!-- showcase -->
 <section class="bg-gradient-dark text-light p-5 p-lg-0 pt-lg-5 text-center text-sm-start">
	<div class="container col-9">
		<div class="d-sm-flex align-items-center justify-content-between">
			<div class="row">
				<div class="col-9 ">
					<div>
						{{#if user}}
						<h1 class="text-white">Welcome, <span class="text-warning">{{user}}</span> !</h1>
						{{/if}}<p class="lead my-4">
							Search for a discount or submit a new one and win tokens everyday!
						</p>
						<a href="/reviews" role="button" class="btn btn-primary btn-lg" {{!-- data-bs-toggle="modal" --}}
							data-bs-target="#enroll">
							Review a Discount here</a>
					</div>
				</div>
				<div class="row">
					<div id="map"class=" col-12">
						<!-- Here will be the map instead of the image    -->
						{{!-- <div ></div> --}}
						{{!-- <img class="img-fluid w-50 d-none d-sm-block p-2" src="img/prezkermit.jpg" alt=""> --}}
	
					</div>
				</div>
			</div>
		</div>
 </section>
<!-- newsletter -->
 <section class="bg-primary text-light p-2">
	<div class="container">
	 <div class="d-md-flex justify-conntent-between align-items-center">
		<h3 class="mb-3 mb-md-0">Sign Up For Our Newsletter</h3>
		<div class="input-group news-input p-3">
		 <input type="text" class="form-control my-2 select-box" placeholder="Enter Email">
		 <button class="btn my-2 btn-dark btn-lg" type="button">Button</button>
		</div>
	 </div>
	</div>
 </section>
<!-- boxes -->
 <section class="p-5">
	<div class="container">
	 <div class="row text-center g-4">
		<div class="col-md">
		 <div class="card bg-gradient-dark text-light">
			<div class="card-body text-center">
			 <div class="h1 mb-3">
				<i class="bi bi-laptop"></i>
			 </div>
			 <h3 class="card-title mb-3">Quick Search</h3>
			 <p class="card-text">Two Searcbars. Search by name or by discount for immidiate results</p>
			 <a href="#" class="btn btn-primary">Search Now</a>
			</div>
		 </div>
		</div>
		<div class="col-md">
		 <div class="card bg-secondary text-light">
			<div class="card-body text-center">
			 <div class="h1 mb-3">
				<i class="bi bi-person-square"></i>
			 </div>
			 <h3 class="card-title mb-3">Token System</h3>
			 <p class="card-text">Win tokens dialy by updating our discount database</p>
			 <a href="#" class="btn btn-dark">Add Discount</a>
			</div>
		 </div>
		</div>
		<div class="col-md">
		 <div class="card bg-secondary text-light">
			<div class="card-body text-center">
			 <div class="h1 mb-3">
				<i class="bi bi-person"></i>
			 </div>
			 <h3 class="card-title mb-3">Live Tracking</h3>
			 <p class="card-text">Activate your GPS and see in live time all the walk distance stores!</p>
			 <a href="#" class="btn btn-dark">Activate GPS</a>
			</div>
		 </div>
		</div>
	 </div>
	</div>
 </section>
{{!-- <!-- learn sections -->
 <section id="learn" class="p-5">
	<div class="container">
	 <div class="row align-items-center justify-content-between">
		<div class="col-md">
		 <img src="img/piggy.jpg" class="img-fluid" alt="">
		</div>
		<div class="col-md p-5">
		 <h2>Learn The Fundumentals</h2>
		 <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, minus.</p>
		 <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat aliquid magni dignissimos, nemo impedit fugit itaque consequatur inventore. Asperiores optio maiores consequatur dolorem odit sapiente, debitis accusantium modi tempora ratione repellat eius suscipit obcaecati pariatur porro officiis velit rerum nihil! Rerum impedit exercitationem voluptate, facilis voluptatum amet modi maiores repellendus.</p>
		 <a href="#" class="btn btn-light mt-3">
			<i class="bi bi-chevron-right"></i>Read More
		 </a>
		</div>
	 </div>
	</div>
 </section> --}}

 <section id="learn" class="p-5 bg-gradient-dark text-light">
	<div class="container">
	 <div class="row align-items-center justify-content-between">
		<div class="col-md p-5">
		 <h2 class="text-white">Everyday Represantation of US</h2>
		 <p class="lead">Completing this project was a daily challenge through out our semester. Everyday our nerves were going from bad to worse and our last week we looked like our friend on the right. But we did it finally. Our site is ready and we have acomplished the maximum that we could during this period. We laughed. We cried. We celebrate. Now please pass us so we can go to the bless of GOD!</p>
		 <a href="#" class="btn btn-light mt-3">
			<i class="bi bi-chevron-right"></i>Read More
		 </a>
		</div>
		<div class="col-md">
		 <img src="img/animal.webp" class="img-fluid" alt="">
		</div>
	 </div>
	</div>
 </section>
<!-- question accordion -->
 <section id="questions" class="p-5">
	<div class="container">
	 <h2 class="text-center mb-4">Frequently Asked Questions</h2>
	 <div class="accordion accordion-flush" id="questions">
		<!-- Item 1 -->
		<div class="accordion-item">
		 <h2 class="accordion-header">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
			 data-bs-target="#question-one" >
			 Where exactly are you located?
			</button>
		 </h2>
		 <div id="question-one" class="accordion-collapse collapse" data-bs-parent="#questions">
			<div class="accordion-body">
			 E-discount is an online based project without physical address. Although you are always free to reach us through the phone or email 
		 </div>
		</div>
		<!-- Item 2 -->
		<div class="accordion-item">
		 <h2 class="accordion-header">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#question-two">
			 Is there a monthly subscription?
			</button>
		 </h2>
		 <div id="question-two" class="accordion-collapse collapse" data-bs-parent="#questions">
			<div class="accordion-body">
			 No, our service is free for all the users. Open a free account and enjoy the hunt of discounts.
			</div>
		 </div>
		</div>
		<!-- Item 3 -->
		<div class="accordion-item">
		 <h2 class="accordion-header">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#question-three">
			 How can I search for a discount?
			</button>
		 </h2>
		 <div id="question-three" class="accordion-collapse collapse" data-bs-parent="#questions">
			<div class="accordion-body">
			 In the welcome page you will be provided with a interactive map, scan for any specific store or insert directly your desired category of discount and the map will show you the place to go. That easy !
			</div>
		 </div>
		</div>
		<!-- Item 4 -->
		<div class="accordion-item">
		 <h2 class="accordion-header">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#question-four">
			 How do i sign up?
			</button>
		 </h2>
		 <div id="question-four" class="accordion-collapse collapse" data-bs-parent="#questions">
			<div class="accordion-body">
			 You can register from our Login/Register page. You will found an option in the top right corner of the page.
			</div>
		 </div>
		</div>
		<!-- Item 5 -->
		<div class="accordion-item">
		 <h2 class="accordion-header">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#question-five">
			 How can I win tokens?
			</button>
		 </h2>
		 <div id="question-five" class="accordion-collapse collapse" data-bs-parent="#questions">
			<div class="accordion-body">
			 Scout stores for unregistered discounts and insert your suggestion in the appropriate page. The other users will rate it helping you get more points as the month goes on.
			</div>
		 </div>
		</div>
	 </div>
	</div>
 </section>
<!-- About Us -->
 <section id="instructors" class="p-5 bg-primary">
	 <h2 class="text-center text-white">
		About Us
	 </h2>
	 <p class="lead text-center text-white mb-5">
		Our team is consisted by three last year CEID students 
	 </p>
	<section class="p-5">
		<div class="container">
		<div class="row text-center g-4">
			<div class="col-md-6 col-lg-3">
			<div class="card bg-light">
				<div class="card-body text-center">
				<img 
				src="img/stan.webp" class="img-fluid rounded-circle md-3" width="20%" alt="">
				<h3 class="card-title mb-3">Emmanuela Vagianou </h3>
				<p class="card-text">The rock. <br> The one that didn't slept until we finish.</p>
				
				<a href="#"><i class="bi bi-facebook text-dark mx-1"></i></a>
				<a href="#"><i class="bi bi-linkedin text-dark mx-1"></i></a>
				<a href="#"><i class="bi bi-instagram text-dark mx-1"></i></a>
				</div>
			</div>
			</div>
			<div class="col-md-6 col-lg-3">
			<div class="card bg-light">
				<div class="card-body text-center">
				<img src="img/cartman.webp" class="img-fluid rounded-circle md-3" width="40%" alt="">
				<h3 class="card-title mb-3">Vasiliki Stamou</h3>
				<p class="card-text">Almost Finished.<br> The girl that left WEB for last course</p>
				
				<a href="#"><i class="bi bi-facebook text-dark mx-1"></i></a>
				<a href="#"><i class="bi bi-linkedin text-dark mx-1"></i></a>
				<a href="#"><i class="bi bi-instagram text-dark mx-1"></i></a>
				</div>
			</div>
			</div>
			<div class="col-md-6 col-lg-3">
			<div class="card bg-light">
				<div class="card-body text-center">
				<img src="img/kenny.webp" class="img-fluid rounded-circle md-3" width="40%" alt="">
				<h3 class="card-title mb-3">Alkistis Sigourou</h3>
				<p class="card-text">3 Sing and 2 Dance. <br> The Hardware girl that ran into a WEB Project</p>
				
				<a href="#"><i class="bi bi-facebook text-dark mx-1"></i></a>
				<a href="#"><i class="bi bi-linkedin text-dark mx-1"></i></a>
				<a href="#"><i class="bi bi-instagram text-dark mx-1"></i></a>
				</div>
			</div>
			</div>
			<div class="col-md-6 col-lg-3">
			<div class="card bg-light">
				<div class="card-body text-center">
				<img src="img/gpt.jpeg" class="img-fluid rounded-circle md-3" width="20%" alt="">
				<h3 class="card-title mb-3"><del>Chat GPT</del> </h3>
				<p class="card-text">Em, our bad we wanted to say Eclass.</p>
				
				<a href="#"><i class="bi bi-facebook text-dark mx-1"></i></a>
				<a href="#"><i class="bi bi-linkedin text-dark mx-1"></i></a>
				<a href="#"><i class="bi bi-instagram text-dark mx-1"></i></a>
				</div>
			</div>
			</div>
	 	</div>
	</section> 	
	</div>
 </section>
<!-- contact & map -->
 <section class="text-center p-5">
	<div class="container">
	 <div class="row g-4">
		<div class="col-md">
		 <h2 class="text-center mb-4">Contact Info</h2>
		 <ul class="list-group-flush lead">
			<li class="list-group-item">
			 <span class="fw-bold">Main Address:</span> Panepistimioupoli Patrwn, Rio Achaias, 26504
			</li>
			<li class="list-group-item">
			 <span class="fw-bold">Contact Number:</span> (2610) 555 555
			</li>
			<li class="list-group-item">
			 <span class="fw-bold">Contact Email:</span> e-discount@test.com
			</li>
		 </ul>
		</div>     
		</div>
	 </div>
	</div>
 </section>
<!-- footer -->
 <footer class="p-5 bg-gradient-dark text-white text-center position-relative">
	<div class="container">
	 <p class="lead">Copyright &copy; 2023 WEBx3F </p>
	 <a href="" class="position-absolute bottom-0 end-0 p-5">
		<i class="bi bi-arrow-up-circle h1"></i>
	 </a>
	</div>
 </footer>
<!-- Modal -->
 <div class="modal fade" id="enroll" tabindex="-1" aria-labelledby="enrollLabel" aria-hidden="true">
	<div class="modal-dialog">
	 <div class="modal-content">
		<div class="modal-header">
		 <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
		 <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
		 <p class="lead">Fill out this form and we will get back to you</p>
		 <form>
			<div class="mb-3">
			 <label for="first-name" class="col-form-label">First Name:</label>
			 <input type="text" class="form-control" id="first-name">
			</div>
			<div class="mb-3">
			 <label for="last-name" class="col-form-label">Last Name:</label>
			 <input type="text" class="form-control" id="last-name">
			</div>
			<div class="mb-3">
			 <label for="email" class="col-form-label">Email:</label>
			 <input type="text" class="form-control" id="email">
			</div>
			<div class="mb-3">
			 <label for="phone" class="col-form-label">Phone:</label>
			 <input type="text" class="form-control" id="phone">
			</div>
		 </form>
		</div>
		<div class="modal-footer">
		 <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
		 <button type="button" class="btn btn-primary">Submit</button>
		</div>
	 </div>
	</div>
 </div>


 <!-- JavaScript Bundle -->
<script src="js/map.js"></script>

<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
	integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
	crossorigin="anonymous"></script>

<script src="https://unpkg.com/togeojson@0.16.0"></script>
<script src="https://unpkg.com/leaflet-filelayer@1.2.0"></script>

<script src="https://unpkg.com/leaflet.markercluster@1.5.1/dist/leaflet.markercluster.js"
	integrity="sha512-+Zr0llcuE/Ho6wXRYtlWypMyWSEMxrWJxrYgeAMDRSf1FF46gQ3PAVOVp5RHdxdzikZXuHZ0soHpqRkkPkI3KA=="
	crossorigin="">
	</script>

</body>
</html>